
{{registrationForm.value | json}}
<form [formGroup]="registrationForm" class="main-form">
    
  <div class="form-group ">
    <label for="username">Username:</label>
    <input formControlName="username" type="text" class="form-control" id="username" [class.is-invalid]="registrationForm.get('username').invalid && registrationForm.get('username').touched">
    <div *ngIf="registrationForm.get('username').invalid && registrationForm.get('username').touched">
        <small *ngIf="registrationForm.get('username').errors?.required" class="text-danger">This field Is required</small>
        <small  *ngIf="registrationForm.get('username').errors?.minlength" class="text-danger">This field Must be more than 3 Characters</small>
        <small  *ngIf="registrationForm.get('username').errors?.forbiddenName" class="text-danger">Hussein Is Unique , Don't you know !</small>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input formControlName="password" type="password" class="form-control" id="password" >
  </div>
  <div class="form-group">
    <label for="confirmpass">Confirm Password:</label>
    <input formControlName="confirmPassword" type="password" class="form-control" id="confirmpass">
    <small *ngIf="registrationForm.errors?.mismatch" class="text-danger">Passwords Must Match</small>
  </div>

  <div formGroupName="address">
    <div class="form-group">
      <label for="city">City:</label>
      <input formControlName="city" type="text" class="form-control" id="city">
    </div>
    <div class="form-group">
      <label for="state">State:</label>
      <input formControlName="state" type="text" class="form-control" id="state">
    </div>
    <div class="form-group">
      <label for="postalcode">Postal Code:</label>
      <input formControlName="postalCode" type="text" class="form-control" id="postalcode">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button (click)="loadData()" type="button" class="btn btn-secondary ml-2">Load Data</button>
</form> 


